In [1]:
from numpy.random import randn as rn

In [9]:
import numpy as np
np.random.seed(100)
r=rn(5,4)

In [10]:
r

array([[-1.74976547,  0.3426804 ,  1.1530358 , -0.25243604],
       [ 0.98132079,  0.51421884,  0.22117967, -1.07004333],
       [-0.18949583,  0.25500144, -0.45802699,  0.43516349],
       [-0.58359505,  0.81684707,  0.67272081, -0.10441114],
       [-0.53128038,  1.02973269, -0.43813562, -1.11831825]])

In [11]:
import pandas as pd

In [13]:
pd.DataFrame(r)

          0         1         2         3
0 -1.749765  0.342680  1.153036 -0.252436
1  0.981321  0.514219  0.221180 -1.070043
2 -0.189496  0.255001 -0.458027  0.435163
3 -0.583595  0.816847  0.672721 -0.104411
4 -0.531280  1.029733 -0.438136 -1.118318

In [14]:
row=['a','b','c','d','e']
col=['x','y','z','w']

In [81]:
df=pd.DataFrame(r,index=row,columns=col)

In [82]:
df

          x         y         z         w
a -1.749765  0.342680  1.153036 -0.252436
b  0.981321  0.514219  0.221180 -1.070043
c -0.189496  0.255001 -0.458027  0.435163
d -0.583595  0.816847  0.672721 -0.104411
e -0.531280  1.029733 -0.438136 -1.118318

In [20]:
df[['x','w']]

          x         w
a -1.749765 -0.252436
b  0.981321 -1.070043
c -0.189496  0.435163
d -0.583595 -0.104411
e -0.531280 -1.118318

In [44]:
df['new']=df['w']+df['z']

In [45]:
df

          x         y         z         w       new
a -1.749765  0.342680  1.153036 -0.252436  0.900600
b  0.981321  0.514219  0.221180 -1.070043 -0.848864
c -0.189496  0.255001 -0.458027  0.435163 -0.022863
d -0.583595  0.816847  0.672721 -0.104411  0.568310
e -0.531280  1.029733 -0.438136 -1.118318 -1.556454

In [37]:
df.drop('w',axis=1)

          y         z       new
b  0.514219  0.221180 -0.848864
c  0.255001 -0.458027 -0.022863
d  0.816847  0.672721  0.568310
e  1.029733 -0.438136 -1.556454

In [40]:
df

          y         z         w       new
b  0.514219  0.221180 -1.070043 -0.848864
c  0.255001 -0.458027  0.435163 -0.022863
d  0.816847  0.672721 -0.104411  0.568310
e  1.029733 -0.438136 -1.118318 -1.556454

In [46]:
df

          x         y         z         w       new
a -1.749765  0.342680  1.153036 -0.252436  0.900600
b  0.981321  0.514219  0.221180 -1.070043 -0.848864
c -0.189496  0.255001 -0.458027  0.435163 -0.022863
d -0.583595  0.816847  0.672721 -0.104411  0.568310
e -0.531280  1.029733 -0.438136 -1.118318 -1.556454

In [47]:
df.loc['c']

x     -0.189496
y      0.255001
z     -0.458027
w      0.435163
new   -0.022863
Name: c, dtype: float64

In [49]:
df.iloc[1]

x      0.981321
y      0.514219
z      0.221180
w     -1.070043
new   -0.848864
Name: b, dtype: float64

In [58]:
df.iloc[0:].values

array([[-1.74976547,  0.3426804 ,  1.1530358 , -0.25243604,  0.90059977],
       [ 0.98132079,  0.51421884,  0.22117967, -1.07004333, -0.84886366],
       [-0.18949583,  0.25500144, -0.45802699,  0.43516349, -0.0228635 ],
       [-0.58359505,  0.81684707,  0.67272081, -0.10441114,  0.56830966],
       [-0.53128038,  1.02973269, -0.43813562, -1.11831825, -1.55645387]])

In [60]:
df.loc[['b','c'],['y']]

          y
b  0.514219
c  0.255001

In [61]:
df

          x         y         z         w       new
a -1.749765  0.342680  1.153036 -0.252436  0.900600
b  0.981321  0.514219  0.221180 -1.070043 -0.848864
c -0.189496  0.255001 -0.458027  0.435163 -0.022863
d -0.583595  0.816847  0.672721 -0.104411  0.568310
e -0.531280  1.029733 -0.438136 -1.118318 -1.556454

In [62]:
df.loc[['a','e'],['z','w']]

          z         w
a  1.153036 -0.252436
e -0.438136 -1.118318

In [63]:
df.iloc[[0,1],[1,2]]

          y         z
a  0.342680  1.153036
b  0.514219  0.221180

In [64]:
df.iloc[::-1,::-1]

        new         w         z         y         x
e -1.556454 -1.118318 -0.438136  1.029733 -0.531280
d  0.568310 -0.104411  0.672721  0.816847 -0.583595
c -0.022863  0.435163 -0.458027  0.255001 -0.189496
b -0.848864 -1.070043  0.221180  0.514219  0.981321
a  0.900600 -0.252436  1.153036  0.342680 -1.749765

In [70]:
df.ix['a']

C:\Users\sai lokesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

x     -1.749765
y      0.342680
z      1.153036
w     -0.252436
new    0.900600
Name: a, dtype: float64

In [72]:
df.ix[::2,['w','x']]

C:\Users\sai lokesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          w         x
a -0.252436 -1.749765
c  0.435163 -0.189496
e -1.118318 -0.531280

In [83]:
df>0

       x     y      z      w
a  False  True   True  False
b   True  True   True  False
c  False  True  False   True
d  False  True   True  False
e  False  True  False  False

In [84]:
df>2

       x      y      z      w
a  False  False  False  False
b  False  False  False  False
c  False  False  False  False
d  False  False  False  False
e  False  False  False  False

In [85]:
df[df>0]

          x         y         z         w
a       NaN  0.342680  1.153036       NaN
b  0.981321  0.514219  0.221180       NaN
c       NaN  0.255001       NaN  0.435163
d       NaN  0.816847  0.672721       NaN
e       NaN  1.029733       NaN       NaN

In [86]:
df

          x         y         z         w
a -1.749765  0.342680  1.153036 -0.252436
b  0.981321  0.514219  0.221180 -1.070043
c -0.189496  0.255001 -0.458027  0.435163
d -0.583595  0.816847  0.672721 -0.104411
e -0.531280  1.029733 -0.438136 -1.118318

In [88]:
p=df.loc[['a','b','c']]>0

In [89]:
df[p]

          x         y         z         w
a       NaN  0.342680  1.153036       NaN
b  0.981321  0.514219  0.221180       NaN
c       NaN  0.255001       NaN  0.435163
d       NaN       NaN       NaN       NaN
e       NaN       NaN       NaN       NaN

In [94]:
df[df['x']<0]

          x         y         z         w
a -1.749765  0.342680  1.153036 -0.252436
c -0.189496  0.255001 -0.458027  0.435163
d -0.583595  0.816847  0.672721 -0.104411
e -0.531280  1.029733 -0.438136 -1.118318

In [92]:
df

          x         y         z         w
a -1.749765  0.342680  1.153036 -0.252436
b  0.981321  0.514219  0.221180 -1.070043
c -0.189496  0.255001 -0.458027  0.435163
d -0.583595  0.816847  0.672721 -0.104411
e -0.531280  1.029733 -0.438136 -1.118318

In [98]:
df[(df['x']>0)&df['y']>0]

          x         y        z         w
b  0.981321  0.514219  0.22118 -1.070043

In [101]:
rows1=[df['w']]

In [102]:
df2=pd.DataFrame(r,index=rows1,columns=col)

In [103]:
df2

                  x         y         z         w
w
-0.252436 -1.749765  0.342680  1.153036 -0.252436
-1.070043  0.981321  0.514219  0.221180 -1.070043
 0.435163 -0.189496  0.255001 -0.458027  0.435163
-0.104411 -0.583595  0.816847  0.672721 -0.104411
-1.118318 -0.531280  1.029733 -0.438136 -1.118318

In [104]:
df.reset_index()

  index         x         y         z         w
0     a -1.749765  0.342680  1.153036 -0.252436
1     b  0.981321  0.514219  0.221180 -1.070043
2     c -0.189496  0.255001 -0.458027  0.435163
3     d -0.583595  0.816847  0.672721 -0.104411
4     e -0.531280  1.029733 -0.438136 -1.118318

In [ ]:
d